<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column">
                    <p class="is-size-6 has-text-weight-semibold has-text-black is-marginless">{{site.author-cyber-about}}</p>
                    <br>
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="https://docs.stormize.fr"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">My DOCS
                                </a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/project"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">FOOTBALL SHIRTS</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>