<style>

.project-image {
  transition: transform 0.5s ease-in-out;
}

.project-hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
  transform: scale(1);
}

.card:hover .project-image {
  transform: scale(1);
}

.card:hover .project-hover-image {
  opacity: 1;
  transform: scale(1);
}

</style>


<div class="columns is-centered is-multiline is-mobile">
  {% for project in site.data.projects %}
    <div class="column has-text-centered is-paddingless is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
      id="project-card">
      <div class="card" style="background-color:rgb(246, 246, 246)">
        <div style="position:relative;">
          <img src="/assets/images/{{project.id}}.jpg" alt="{{ project.club }}" class="project-image">
          <img src="/assets/images/{{project.id}}b.jpg" alt="{{ project.club }}" class="project-hover-image">
          {% if project.vente == "Sold" %}
            <div class="sold-label"><p class=" is-uppercase has-text-weight-medium has-text-grey">SOLD</p></div>
          {% endif %}          
          {% if project.vente == "Oui" %}
            <div class="sell-label"><p class="is-uppercase has-text-weight-medium has-text-grey">TO SELL</p></div>
          {% endif %}
        </div>
        <div class="card-content" style="padding:12px;">
          <p class="has-text-black has-text-weight-light" style="margin-bottom:0.4rem;">{{ project.club}}</p>          
          <p class="has-text-black has-text-weight-light">{{ project.saison}}</p>
          {% if project.joueur != 'N/A' %}
            <p class="has-text-black has-text-weight-light">{{ project.joueur}}</p>
          {% else %}
            <p class="has-text-black has-text-weight-light">No player</p>
          {% endif %}
          
        </div>
      </div>
    </div>
  {% endfor %}

</div>