---
layout: compress
---

{% assign title = page.title %}
{% assign var = page.var %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}

    
    <!--Main Section-->
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container">
                <div class="section">
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">
                        {{ title }} <i class="fa-regular fa-shirt"></i>
                        <i class="fa-light fa-shirt"></i>
                        <p class=" is-uppercase has-text-grey">{{ site.data.[var] | size }} matchs</p>
                    </p>
                    
                
                {% include calendar-card.html %}
            </div>
        </div>
    </section>
    </div>

    <!--Footer-->
    {% include footer.html %}
</body>



</html>
