---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container">
                <div class="section">
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">
                        FOOTBALL SHIRTS <i class="fa-regular fa-shirt"></i>
                        <i class="fa-light fa-shirt"></i>
                        <p class=" is-uppercase has-text-grey">{{ site.data.projects | size }} shirts</p>
                    </p>
                </div>
                {% include project-card.html %}
            </div>
        </div>
    </section>
    </div>

    <!--Footer-->
    {% include footer.html %}
</body>



</html>